<div id="header">
  <ul id="headerList">
    <li id="headerUl">@Html.ActionLink("Clients", "Index", "Clients")</li>
    <li id="headerUl">@Html.ActionLink("Stylists", "Index", "Stylists")</li>
    <a href="@Url.Action("", "/")">
    <li id="homeImageUl"><img id="imageHome" src="https://static.thenounproject.com/png/901844-200.png"></a></li>
  </ul>
</div>