@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this Stylist?</h2>

@Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-info btn-sm"/>
}
<br>
@Html.ActionLink("Back to Stylists", "Index")
