

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(214, 214, 214);
}

.container {
  background-color: white;
  padding: 10px;
  padding-bottom: 600px;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
  width: 100vw;  
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/7c/88/0f/7c880f35e7ea459368cefb86c5140372.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
}

h1 {
  font-family: 'Aleo', sans-serif;
  text-align: center;
  font-size: 90px;
}

h4 {
  font-family: 'Aleo',
  sans-serif;
 
}

.whiteText {
  color: white;
}

.col-md-6 {
  text-align: center;
  padding-top: 40px;
}

li {
  list-style: none;
  font-weight: 800;
  padding-top: 10px;
}

li a {
  color: orangered;
}

.btn {
  background-color: rgb(255, 0, 0);
  border: none;
}

div#header {
  height: 80px;
}

#imageHome {
  width: 32px;
  margin-top: 4px;
}

#imageHome:hover {
  background: rgba(192, 64, 5, 0.8);
  border-radius: 5px;
}

ul#headerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 12%;
  overflow: hidden;
  background-color: rgb(245, 2, 2);
}

li#headerUl {
  float: right;
}

li#homeImageUl {
  float: left;
  margin-left: 14%;
}

li#headerUl a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#headerUl a:hover {
  background-color: rgb(192, 64, 5);
}



ul {
  list-style: none;
  padding-left: 0;
}
