@{
  Layout = "_LayoutHome";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="full-width">
<div class="hero-image">
  <div class="hero-text">
          <h1 class="whiteText">Eau Claire's Salon</h1>
           <div class="col-md-6">
          <p>@Html.ActionLink("Add A Stylist", "Index", "Stylists", null, new { @class = "btn btn-info btn-large" })</p>
        </div>
        <div class="col-md-6">
          <p>@Html.ActionLink("See all Clients", "Index", "Clients", null, new { @class = "btn btn-info btn-large" })</p>
        </div>
    
  </div>
</div>
</div>